<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        My Static Site
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./style/css/main.css" />
    <!-- <link rel="stylesheet" href="./style/css/main_ar.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comme:wght@100..900&display=swap" rel="stylesheet">


</head>

<body>
    <nav class="nav">
    <div class="container d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <!-- زر القائمة الجانبية -->
            <button class="nav__toggle d-none">
                <i class="fa-solid fa-bars"></i>
            </button>
            <!-- Logo  -->
            <div class="nav__logo">
                <a href="/home.html"><img src="/assets/Mo'men Logo.svg" alt="Logo" height="70" /></a>
            </div>


            <!-- menu  -->
            <ul class="nav__menu d-flex align-items-center gap-4">
                <li class="nav__item"><a href="/home.html" class="nav__link nav__link--active">Home</a></li>
                <li class="nav__item"><a href="/wishlist.html" class="nav__link">Wishlist</a></li>
                <li class="nav__item category-dropdown">
                    <a class="nav__link">Category</a>
                    <img src="/assets/category-arrow.svg" class="category-arrow ms-2">
                    
                    <div class="dropdown-menu category-menu">

                        <div class="dropdown-section ">
                            <h3 class="dropdown-title">
                                <img src="/assets/sale.svg" alt="sale" class="me-2"> On Sale
                            </h3>
                            <ul class="dropdown-links sale-section">
                                <li><a href="#">Unmissable offer! Up to 70% off</a></li>
                                <li><a href="#">Buy 2 get 1 free</a></li>
                                <li><a href="#">Buy one and get 50% off the second</a></li>
                            </ul>
                        </div>

                        <div class="dropdown-section">
                            <h3 class="dropdown-title">
                                <img src="/assets/man.svg" alt="man" class="me-2"> For Men
                            </h3>
                            <ul class="dropdown-links">
                                <li><a href="#">New In</a></li>
                                <li><a href="#">All Clothes</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Shorts</a></li>
                                <li><a href="#">Jacket</a></li>
                                <li><a href="#">Half sleeve t-shirt</a></li>
                            </ul>
                        </div>

                        <div class="dropdown-section">
                            <h3 class="dropdown-title">
                                <img src="/assets/kid.svg" alt="kid" class="me-2"> For Kids
                            </h3>
                            <ul class="dropdown-links">
                                <li><a href="#">New In</a></li>
                                <li><a href="#">All Clothes</a></li>
                                <li><a href="#">Pants</a></li>
                                <li><a href="#">Shorts</a></li>
                                <li><a href="#">Jacket</a></li>
                                <li><a href="#">Half sleeve t-shirt</a></li>
                            </ul>
                        </div>


                    </div>
                </li>
                <li class="nav__item"><a href="/about.html" class="nav__link">About</a></li>
                <li class="nav__item"><a href="/contact_us.html" class="nav__link">Contact Us</a></li>
            </ul>
        </div>

        <!-- icons and sign in  -->
        <div class="nav__icons d-flex align-items-center gap-4">
            <button id="searchToggle" class="nav__searchIcon border-0 bg-transparent">
                <img src="/assets/search-normal.svg" alt="search" />
            </button>
            <a href="/Cart.html" class="nav__cartIcon"><img src="/assets/shopping-cart.svg" alt="cart" /></a>
            <button class="nav__LogInbtn" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Login</button>
        </div>

    </div>
    <!-- login modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content auth">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4 class="modal-title mt-2 d-flex m-auto" id="loginModalLabel">Login</h4>
                <div class="modal-body">
                    <form>
                        <div class="mb-4">
                            <input type="email" class="form-control" placeholder="Email or Phone Number" id="email"
                                required>
                        </div>
                        <div class="mb-4 password-field">
                            <input type="password" class="form-control" placeholder="Password" id="password1" required>
                            <button type="button" class="toggle-password"
                                onclick="togglePasswordVisibility('password1', 'eye-icon1')">
                                <i id="eye-icon1" class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
                        <div class="mb-5 d-flex justify-content-end align-items-center">
                            <a href="#" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                                class="text-decoration-none">Forgot password?</a>
                        </div>
                        <button type="submit" class="button__primary__large d-none d-md-block m-auto">Login</button>
                        <button type="submit" class="button__primary__medium d-block d-md-none  m-auto">Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="m-auto">Don't have an account? <a data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" href="#" class="text-decoration-none">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- sign up -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content auth">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4 class="modal-title mt-2 d-flex m-auto" id="loginModalLabel">Sign up</h4>
                <div class="modal-body">
                    <form>
                        <div class="col-md-12 row m-auto mb-4 px-0">
                            <div class="col-md-6 ps-0">
                                <input type="text" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6 pe-0">
                                <input type="text" class="form-control" placeholder="Secound Name" required>
                            </div>
                        </div>
                        <div class="mb-4">
                            <input type="Email" class="form-control" placeholder="Email" id="Email" required>
                        </div>
                        <div class="mb-4">
                            <input type="tel" class="form-control" placeholder="Phone Number" id="Phone Number"
                                required>
                        </div>
                        <div class="mb-4 password-field">
                            <input type="password" class="form-control" placeholder="Password" id="password2" required>
                            <button type="button" class="toggle-password"
                                onclick="togglePasswordVisibility('password2', 'eye-icon2')">
                                <i id="eye-icon2" class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
                        <div class="mb-5 password-field">
                            <input type="password" class="form-control" placeholder="Confirm Password" id="password3"
                                required>
                            <button type="button" class="toggle-password"
                                onclick="togglePasswordVisibility('password3', 'eye-icon3')">
                                <i id="eye-icon3" class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
                        <button type="submit" class="button__primary__large d-none d-md-block m-auto">Create</button>
                        <button type="submit" class="button__primary__medium d-block d-md-none m-auto">Create</button>
                    </form>
                </div>
                <div class="modal-footer ">
                    <p class="m-auto ">Already have an account? <a data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" href="#" class="text-decoration-none"> Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- forget password -->
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content auth">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4 class="modal-title mt-2 ms-4" id="loginModalLabel">Forget password</h4>
                <p class="ms-4">Please enter your email to send the verification code</p>
                <div class="modal-body">
                    <form>
                        <div class="mb-5">
                            <input type="email" class="form-control" placeholder="Email or Phone Number" id="email"
                                required>
                        </div>
                        <button data-bs-target="#exampleModalToggle4" data-bs-toggle="modal"
                            class="button__primary__large d-md-block d-none  m-auto">Verify
                        </button>
                        <button data-bs-target="#exampleModalToggle4" data-bs-toggle="modal"
                            class="button__primary__medium d-block d-md-none  m-auto">Verify
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- OTB -->
    <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content auth">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h2 class="modal-title ms-4">Verify Your Account</h2>
                <p class="ms-4">Enter 4-digit verification which is sent to your given email</p>
                <div class="modal-body">
                    <form>
                        <div class="mb-5 ">
                            <div class="d-flex justify-content-between mb-5 ">
                                <input type="text" maxlength="1" class="otp-input" value="1" autofocus>
                                <input type="text" maxlength="1" class="otp-input">
                                <input type="text" maxlength="1" class="otp-input">
                                <input type="text" maxlength="1" class="otp-input">
                            </div>

                            <div class="timer text-center">
                                Code expires in: <span id="countdown">00:56</span>
                            </div>

                            <div class="text-center">
                                <span>Didn't receive code? </span>
                                <a href="#" class="text-decoration-none"> Resend Code</a>
                            </div>
                        </div>
                        <button data-bs-target="#exampleModalToggle5" data-bs-toggle="modal"
                            class="button__primary__large d-none d-md-block m-auto">Verify
                        </button>
                        <button data-bs-target="#exampleModalToggle5" data-bs-toggle="modal"
                            class="button__primary__medium d-block d-md-none m-auto">Verify
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- change password -->
    <div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel5"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content auth">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4 class="modal-title mt-2  ms-4" id="loginModalLabel">Create new password</h4>
                <div class="modal-body">
                    <form>
                        <div class="mb-4 password-field">
                            <input type="password" class="form-control" placeholder="New Password" id="password4"
                                required>
                            <button type="button" class="toggle-password"
                                onclick="togglePasswordVisibility('password4', 'eye-icon4')">
                                <i id="eye-icon4" class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
                        <div class="mb-5 password-field">
                            <input type="password" class="form-control" placeholder="Confirm Password" id="password5"
                                required>
                            <button type="button" class="toggle-password"
                                onclick="togglePasswordVisibility('password5', 'eye-icon5')">
                                <i id="eye-icon5" class="fa-regular fa-eye-slash"></i>
                            </button>
                        </div>
                        <button type="submit" class="button__primary__large d-none d-md-block m-auto">Save</button>
                        <button type="submit" class="button__primary__medium d-block d-md-none m-auto">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Search Overlay -->
<div id="searchOverlay" class="search__overlay">
    <div class="container">
        <div class="search__box">
            <img src="/assets/search-normal.svg" alt="search">
            <input type="text" class="search__input" placeholder="Search for products">
            <button id="closeSearch" class="search__close fa-2x">×</button>
        </div>

        <div class="recent__search">
            <h5>Recent Search</h5>
            <div class="search__tags">
                <span class="search__tag">Shirts <span class="close__tag ">×</span></span>
                <span class="search__tag">Skirts <span class="close__tag">×</span></span>
                <span class="search__tag">Jeans <span class="close__tag">×</span></span>
                <span class="search__tag">Casual <span class="close__tag">×</span></span>
                <span class="search__tag">Pants <span class="close__tag">×</span></span>
                <span class="search__tag">Coats <span class="close__tag">×</span></span>
                <span class="search__tag">Sneakers <span class="close__tag">×</span></span>
            </div>
        </div>

        <div class="search__suggestions">
            <div class="suggestion__item">
                T-Shirt <i class="fas fa-chevron-right"></i>
            </div>

            <div class="suggestion__item">
                Shirt Jackets <i class="fas fa-chevron-right"></i>
            </div>

            <div class="suggestion__item">
                Boys T-Shirt <i class="fas fa-chevron-right"></i>
            </div>

            <div class="suggestion__item">
                Shirt Jackets <i class="fas fa-chevron-right"></i>
            </div>

            <div class="suggestion__item">
                Shirts in Clothing <i class="fas fa-chevron-right"></i>
            </div>

            <div class="suggestion__item">
                Boys T-Shirt Boys Top <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/scripts/MyAccount.js"></script>
        <script src="/scripts/DropImg.js"></script>
        <script src="/scripts/navbar.js"></script>


</body>

</html>